<%- include('../partials/header') %>
<div class='container my-3'>
  <h1 class='text-center'>Pendências</h1>
  <p class='text-center'><a href="/pendencias/create"><button type="button" class='btn btn-primary'> Registrar Nova Pendência</button></a></p>
</div>

<div class='container-fluid' style='max-width: 80%;' >
  <table class="table table-bordered text-center">
  <thead>
    <tr>
      <th scope="col">UL</th>
      <th scope="col">Local</th>
      <th scope="col">Responsável</th>
      <th scope="col">Entregou Termo</th>
      <th scope="col">Bens Lidos</th>
      <th scope="col">Descrição</th>
      <th scope="col" style='width:25px;'>Editar</th>

    </tr>
  </thead>
  <tbody>
  <% pendencias.map(pendencia => {  %>
    <tr>
      <td><%= pendencia.ul %></td>
      <td><%= pendencia.local %></td>
      <td><%= pendencia.responsavel %></td>
      <td><%= pendencia.termo %></td>
      <td><%= pendencia.bens %></td>
      <td><%= pendencia.descricao %></td>
      <td>
        <div class='btn-group' style='margin:2px;'>
          <a type="button" class="btn btn-primary btn-sm mr-2 ml-0" href='/pendencias/update/<%= pendencia.id %>'>Editar</a>
          <a type="button" class="btn btn-danger btn-sm mr-0" href='/pendencias/delete/<%= pendencia.id %>' onclick="return confirm('A Unidade <%= pendencia.local %> realmente não tem mais pendências?')" >Excluir</a>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>


<%- include('../partials/footer') %>